.cd3 {
    overflow:hidden;
    position:relative; 
}
.cd3 .axis path, .cd3 .axis line {
    fill: none;
    stroke: #555555;
    shape-rendering: crispEdges;
}
.cd3 .title {
    fill:black;
    font-size:14px;
    font-family:serif;
}
.cd3 .line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.cd3 .legend {
    position: absolute;
    right:10px;
    top:10px;
}
.cd3 .legend span {
    display:inline-block;
    margin-left:10px;
}
.cd3 path {
    fill:none;
}

.cd3 .line.path {
    fill:none;
}
.cd3 .overlay {
    fill: none;
    pointer-events: all;
    z-index:9999;
}
.cd3 .tip{
    fill:black;
    pointer-events:none;
    stroke:black;
    stroke-width:0px;
}
.cd3.tips{
    position: absolute;
    padding: 5px;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color:lightgrey;
}