.cd3 {
    overflow:hidden;
    position:relative; 
}
.cd3 .axis path, .cd3 .axis line {
    fill: none;
    stroke: #555555;
    shape-rendering: crispEdges;
}
.cd3 .title {
    fill:black;
    font-size:14px;
    font-family:serif;
}
.cd3 .legend {
    position: absolute;
    right:10px;
    top:10px;
}
.cd3 .legend span {
    display:inline-block;
    margin-left:10px;
}
.cd3 .overlay {
    fill: none;
    pointer-events: all;
    z-index:9999;
}
.cd3 .tip{
    fill:black;
    pointer-events:none;
    stroke:black;
    stroke-width:0px;
}
.cd3.tips{
    position: absolute;
    padding: 5px;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color:lightgrey;
}
.cd3 .series path {
    fill:none;
}
.cd3 g.series rect{
    shape-rendering: crispEdges;    
}
.cd3 g.series path, .cd3 g.series circle{
    shape-rendering: geometricPrecision;    
}
.cd3 .series1 {
    stroke: #73AFF4;
    color:#73AFF4;
    fill:#73AFF4;
}
.cd3 .series2 {
    stroke: #DA73F4;
    color:#DA73F4;
    fill:#DA73F4;
}
.cd3 .series3 {
    stroke: #F47573;
    color:#F47573;
    fill:#F47573;
}
